<div class="header">
  <ng-container *ngIf="products">
    <div class="products">
      <div class="products__header">
        <app-browse-header
          [showCreateButton]="false"
          [filterDisabled]="!isValidFilter"
          [filterActive]="hasFilter"
          (filterButton)="onFilterProduct()"
          (clearButton)="onRemoveFilter()"
          (searchChange)="onSearchChange($event)"
          (search)="onSearchProduct($event)"
        >
          <ng-container id="filter">
            <form [formGroup]="filterForm">
              <div class="form__group">
                <span>Product type</span>
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Select Product Type"
                  class="form__control"
                  formControlName="typeId"
                  (ngModelChange)="onProductTypeChange($event)"
                >
                  <nz-option
                    *ngFor="let type of productTypes"
                    [nzLabel]="type.name | titlecase"
                    [nzValue]="type.id"
                  ></nz-option>
                </nz-select>
              </div>

              <div class="form__group">
                <span>Brands</span>
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Select Brand"
                  class="form__control"
                  formControlName="brandId"
                >
                  <nz-option
                    *ngFor="let type of brands"
                    [nzLabel]="type.name | titlecase"
                    [nzValue]="type.id"
                  ></nz-option>
                </nz-select>
              </div>

              <div class="form__group">
                <span>Price</span>
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Select Price Level"
                  class="form__control"
                  formControlName="price"
                >
                  <nz-option
                    *ngFor="let type of priceList"
                    [nzLabel]="type.label | titlecase"
                    [nzValue]="type.value"
                  ></nz-option>
                </nz-select>
              </div>
            </form>
          </ng-container>
        </app-browse-header>
      </div>

      <div class="products__container">
        <div class="product__item" *ngFor="let product of products">
          <app-product-item
            [product]="product"
            (addToCart)="onAddToCart($event)"
          ></app-product-item>
        </div>
      </div>

      <div class="paginator">
        <app-paginator
          [currentPageNumber]="pagination.currentPage"
          [pageSize]="pagination.pageSize"
          [totalRecords]="pagination.totalCount"
          (pageNumberChange)="onPaginate($event)"
        ></app-paginator>
      </div>
    </div>
  </ng-container>
</div>
