<app-edit-mode
  [saveButtonDisabled]="!isFormValid"
  [saveButtonLoading]="loading"
  (resetClick)="onResetForm()"
  (saveClick)="onCreateProduct()"
  [resetButtonVisible]="!productToUpdate"
  [saveButtonText]="buttonText"
>
  <ng-container id="header"
    ><h3>{{ pageTitle }}</h3></ng-container
  >
  <ng-container id="content">
    <div class="form__container">
      <form [formGroup]="productForm">
        <app-input
          formControlName="name"
          placeholder="Product Name"
        ></app-input>

        <app-text-area
          formControlName="description"
          placeholder="Product Description"
        ></app-text-area>

        <app-input
          type="number"
          formControlName="price"
          placeholder="Unit Price"
        ></app-input>

        <div class="form__group">
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select Content Privacy Status"
            class="form__control"
            formControlName="productTypeId"
            (ngModelChange)="onProductTypeChange($event)"
          >
            <nz-option
              *ngFor="let type of productTypeOptions"
              [nzLabel]="type.label"
              [nzValue]="type.value"
            ></nz-option>
          </nz-select>
        </div>

        <div class="form__group">
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select Content Privacy Status"
            class="form__control"
            formControlName="productBrandId"
          >
            <nz-option
              *ngFor="let type of brandsOptions"
              [nzLabel]="type.label"
              [nzValue]="type.value"
            ></nz-option>
          </nz-select>
        </div>

        <app-upload
          (hasFile)="checkFileStatus($event)"
          (upload)="onUploadPhoto($event)"
          [clearList]="clearUploadList"
          [showUploadButton]="false"
          [formDataKey]="'photo'"
          [imageToDisplay]="productToUpdate && productToUpdate.picture"
        ></app-upload>
      </form>
    </div>
  </ng-container>
</app-edit-mode>
