.section__about {
  &--notes {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &-heading {
      color: var(--color-primary);
      border-bottom: 0.2rem solid var(--color-primary);
      border-radius: 0.3rem;
      margin-bottom: 0.2rem;
      display: inline-block;
    }

    &-content {
      text-align: justify;
      padding: 2rem;
      color: #fff;
      font-size: 1.6rem;
    }
  }
}

.contact-form {
  width: 80rem;
}

.form {
  min-height: 40rem;
}

section__about--notes-heading {
}
