<div class="header">
  <div class="contact-form" [@bounceInDown]="bounceInDown">
    <div action="#" class="form form__bg-blue shadow">
      <h3 class="form__title movesInLeft">
        {{ (about$ | async).nameOfCompany || "Our Services" }}
      </h3>
      <div class="section__about--notes">
        <h2 class="section__about--notes-heading">
          {{ (about$ | async).aboutTitle || note.header }}
        </h2>
        <div class="section__about--notes-content">
          {{ (about$ | async).aboutMessage || note.content }}
        </div>
      </div>
    </div>
  </div>
</div>
