<div class="auth__page">
  <h3>Login</h3>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <app-input
      formControlName="email"
      placeholder="Email Address"
      label="Email Address"
      patternMessage="Invalid email address"
    ></app-input>

    <app-input
      formControlName="password"
      placeholder="Password"
      label="Password"
      type="password"
    ></app-input>

    <span
      >Don't Have an Account Yet? <a (click)="onRegister()">Register</a></span
    >

    <div class="mgt">
      <app-button
        [disabled]="loginForm.invalid"
        (btnClick)="onSubmit()"
        [isLoading]="isLoading"
        btnClass="button button-primary button-block"
        >Login</app-button
      >
    </div>
  </form>
</div>
