<div class="el-wrapper">
  <div class="box-up">
    <img class="img" [src]="product.picture" alt="" />
    <div class="img-info">
      <div class="info-inner">
        <span class="p-company">
          <app-button>Detail</app-button>
        </span>
        <span class="product__name">
          {{
            (product.name.substr(0, 30) | titlecase) +
              (product.name.length > 30 ? "..." : "")
          }}</span
        >
      </div>
    </div>
  </div>

  <div class="box-down">
    <div class="h-bg">
      <div class="h-bg-inner"></div>
    </div>

    <a class="cart" (click)="onAddToCart()">
      <span class="price">{{ product.price | currency }}</span>
      <span class="add-to-cart">
        <span class="txt">Add to cart</span>
      </span>
    </a>
  </div>
</div>
