<footer class="footer">
  <div class="row">
    <div class="col-1-of-3">
      <div class="item">
        <h3 class="item__header">
          <span *ngIf="about.nameOfCompany">{{ about.nameOfCompany }}</span>
          <img
            src="assets/img/logo.png"
            alt=""
            class="footer__image"
            *ngIf="!about.nameOfCompany"
          />
        </h3>

        <div class="item__content">
          <p>Some Notes about the company over here (Powered by Exalio)</p>
          <div class="item__follow">
            <div class="item__follow-title">Follow Us</div>
            <span class="item__follow-element">
              <svg class="item__follow-image">
                <use xlink:href="assets/img/media.svg#icon-facebook"></use>
              </svg>

              <svg class="item__follow-image">
                <use xlink:href="assets/img/media.svg#icon-twitter"></use>
              </svg>

              <svg class="item__follow-image">
                <use xlink:href="assets/img/media.svg#icon-instagram"></use>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="item">
        <h3 class="item__header">Quick Links</h3>
        <div class="item__content">
          <ul class="item__link">
            <li class="item__link-item"><a routerLink="/about">About</a></li>
            <li class="item__link-item">
              <a routerLink="/contact">Contact</a>
            </li>
            <li class="item__link-item"><a routerLink="/shop">Shop</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="item">
        <h3 class="item__header">Get in touch!</h3>
        <div class="item__content">
          <ul class="item__link">
            <li class="item__link-contact">+233(0)545991834</li>
          </ul>

          <div class="item__address">
            {{
              about.aboutMessage ||
                "Our ecommerce web site is the best online selling and buying
            platform you can rely on any time any day!!"
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row footer__bar">
    <div class="bar"></div>
    <svg class="footer__bar-image">
      <use xlink:href="assets/img/media.svg#icon-radio-checked"></use>
    </svg>
    <div class="bar">
      <span class="copyright"> Copyright &copy; {{ currentYear }} </span>
      <span>&nbsp; {{ about.nameOfCompany || "Kurawa" }}</span>
    </div>
  </div>
</footer>
