<div class="header">
  <div class="cart__container">
    <div class="cart__wrapper">
      <div class="cart__header">
        <span class="cart__title">My Cart</span>
        <span class="cart__total">$145</span>
      </div>

      <app-product-cart-item></app-product-cart-item>
      <app-product-cart-item></app-product-cart-item>

      <div class="cart__footer">
        <app-button
          ><i nz-icon nzType="shopping-cart" nzTheme="outline"></i> Check
          Out</app-button
        >
      </div>
    </div>
  </div>
</div>
