<div class="cart__item">
  <img class="cart__item-image" [src]="cartItem.picture" />

  <div class="cart__item-details">
    <h3>{{ cartItem.name | titlecase }}</h3>
    <span
      >{{ cartItem.price | currency }} x {{ cartItem.quantity }} =
      {{ cartItem.price * cartItem.quantity | currency }}</span
    >
  </div>

  <div class="cart__item-add">
    <app-button (btnClick)="decreseCartItem()"
      ><i nz-icon nzType="down" nzTheme="outline"></i
    ></app-button>
    <span class="cart__count">{{ cartItem.quantity }}</span>
    <app-button (btnClick)="increaseCartItem()"
      ><i nz-icon nzType="up" nzTheme="outline"></i
    ></app-button>
  </div>
</div>
