.cart__item {
  background-color: #fff;
  height: 10rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;

  &-details {
    min-width: 30rem;

    h3 {
      color: var(--color-primary);
      font-size: 2rem;
      margin: 0;
    }

    span {
      display: block;
      font-size: 1.6rem;
      font-weight: 600;
      font-style: italic;
    }
  }
}

.cart__item-image {
  height: 8rem;
  width: 8rem;
  border: 1px solid var(--color-primary);
  padding: 5px;
  border-radius: 4px;
}

.cart__count {
  margin: 0 1rem;
  color: var(--color-primary);
  font-weight: bold;
  font-size: 2rem;
}
