<ng-container *ngIf="content">
  <div class="inspect__box" *ngIf="!content.isMultiple">
    <h3>{{ content.title | titlecase }}</h3>
    <p [innerHtml]="content.text" *ngIf="!content.isImage"></p>
    <img *ngIf="content.isImage" [src]="content.text" class="image__box" />
  </div>

  <div class="inspect__box" *ngIf="content.isMultiple">
    <div class="inspect__box--flex">
      <div
        class="inspect__box--flex-item"
        *ngFor="let item of content.contents"
      >
        <h4>{{ item.title | uppercase }}</h4>
        <p *ngIf="!item.isImage">{{ item.text }}</p>
        <img *ngIf="item.isImage" [src]="item.text" class="image__box" />
      </div>
    </div>
  </div>
</ng-container>
