.image__box {
  //   width: 10rem;
  //   height: 10rem;
  //   object-fit: contain;
  //border-radius: 50%;
  display: block;
  max-width: 10rem;
  max-height: 10rem;
  width: auto;
  height: auto;
}
