<!-- We presents admin dashboard when the user is an admin -->
<ngx-spinner>Loading...</ngx-spinner>
<ng-container
  *ngIf="
    currentUser?.roles?.includes('admin') &&
    (dashboardType$ | async) === dashboardTye.Admin
  "
>
  <app-dashboard [dashboardMenus]="dashboardMenuItems" (logout)="onLogOut()">
    <ng-container *ngTemplateOutlet="template"></ng-container>
  </app-dashboard>
</ng-container>

<!-- We presents a guest and shopping accounts when the user is not logged in or is not an admin -->
<ng-container
  *ngIf="!currentUser || (dashboardType$ | async) === dashboardTye.Guest"
>
  <app-navbar
    (login)="onLogin()"
    (logout)="onLogOut()"
    [totalCart]="totalCart"
    [currentUser]="currentUser"
  ></app-navbar>
  <ng-container *ngTemplateOutlet="template"></ng-container>
  <app-footer></app-footer>
</ng-container>

<ng-template #template>
  <router-outlet (activate)="onActivate($event)" #outlet="outlet">
  </router-outlet>
</ng-template>

<!-- A login form that is called when the user needs to logs in -->
<app-auth-form [visible]="isLoginVisible" (cancelled)="onCancelled()">
</app-auth-form>
