<div class="header">
  <div class="contact-form" [@swing]="swing">
    <form [formGroup]="contactForm" class="form form__bg-blue shadow">
      <h3 class="form__title movesInLeft">Drop Us a line</h3>
      <h3 class="form__title-message">We are here for you! How can we help?</h3>

      <app-input
        formControlName="name"
        placeholder="Your Name"
        label="Your name"
      ></app-input>

      <app-input
        formControlName="email"
        placeholder="Email Address"
        label="Email Address"
        patternMessage="Invalid email Address"
      ></app-input>

      <app-text-area
        formControlName="message"
        placeholder="Message"
        label="Message"
      >
      </app-text-area>

      <app-button
        btnClass="button button-primary button-block"
        [disabled]="contactForm.invalid"
        (btnClick)="onContactUs()"
        >Contact Us <i nz-icon nzType="mail" nzTheme="outline"></i
      ></app-button>
    </form>
  </div>
</div>
