.feature {
  background-color: var(--color-primary-grey);
  padding: 2rem;
  font-size: rgb(184, 182, 182);
  border-radius: 2px;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  position: relative;
  min-height: 30rem;
  color: var(--color-tertiary-dark);
  transition: all 0.2s;
  border: 5px solid var(--color-secondary-white);

  &:hover {
    transform: translateY(-1rem);
  }

  &-header {
    margin-bottom: 1rem;
  }

  &__image {
    height: 7rem;
    width: 7rem;
    margin: 0 auto;
    display: block;
    margin-bottom: 2rem;
    fill: var(--color-secondary);
  }

  &__heading {
    text-align: center;
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-tertiary-dark);
  }

  &-content {
    line-height: 2.5rem;
    font-size: var(--default-font-size);
    text-align: justify;
  }
}
